%h1 Result

.row
  .col-md-3
    %table.table
      %tr
        %th Input
        %th Result
      %tr
        %td.input= @calculation.input
        %td.result= @calculation.perform
.row
  .col-md-3
    =link_to 'Again', new_calculation_path, class: 'btn btn-primary', title: 'Click here for another calculation.'
